<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265986886853-quvbbbs8j3tdl12benkj0l816obpfh9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265986886853-quvbbbs8j3tdl12benkj0l816obpfh9b</string>
	<key>API_KEY</key>
	<string>AIzaSyCcMKYjYDVZ1ZoJejl-yrpoEGhdk3HQ2fA</string>
	<key>GCM_SENDER_ID</key>
	<string>265986886853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skysuzuki.StockTest</string>
	<key>PROJECT_ID</key>
	<string>stock-test-ss</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-test-ss.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265986886853:ios:6f9d25012561a5797874ac</string>
</dict>
</plist>